$hfs:20px;

@function pTr($px){
  @return $px/$hfs*1rem;
}
main{
  .banner{
    position:relative;
    .banner-main{
      ul{
        position:relative;height:pTr(420px);width:100%;overflow: hidden;
        li{
          position:absolute;width:100%;left:100%;z-index: -999;
          &:nth-child(1){left:0;z-index:1;}
          a{
            display: block;position:relative;width:100%;
            img{
              display: block;position:absolute;left:50%;transform: translate(-50%,0);
            }
          }
        }
      }
    }
    .prev{
      margin-left: -610px;position: absolute;top: 50%;
      left: 50%;width: 50px;height: 50px;margin-top: -25px;
      background-color: #FCE8D3;
      background-image: url(../images/template.png);
      background-repeat: no-repeat;
      -moz-background-size: auto;
      background-size: auto;
      -moz-border-radius: 100%;
      border-radius: 100%;
      opacity: 0.8;
      cursor: pointer;z-index:2;
      &:hover{background-color: #AAA; opacity: 1;}
    }
    .next{
      position: absolute;z-index: 1;top: 50%;left: 50%;
      width: 50px;height: 50px;margin-top: -25px;
      background-color: #FCE8D3;background-image: url(../images/template.png);
      background-repeat: no-repeat;-moz-background-size: auto;background-size: auto;
      -moz-border-radius: 100%;border-radius: 100%;opacity: 0.8;cursor: pointer;
      margin-left: 560px;background-position: 0 -50px;
      &:hover{background-color: #AAA; opacity: 1 }
    }

  }

}