html {
  font-size: 16px; }

.layout {
  width: 68.125rem;
  margin: 0 auto; }

header {
  background: #4B5459;
  height: 2.25rem;
  color: #fff; }
  header .header-l {
    float: left;
    font: 0.75rem/2.25rem "";
    position: relative; }
    header .header-l .news {
      height: 2.25rem;
      overflow: hidden;
      padding-left: 1.25rem;
      background: url(../images/notice.gif) no-repeat center left; }
    header .header-l ul {
      position: relative;
      top: 0; }
      header .header-l ul li a {
        color: #F28F2D;
        text-decoration: underline;
        font-weight: 300; }
      header .header-l ul li:hover a {
        color: #fff; }
  header .header-r {
    float: right;
    font: 0.75rem/2.25rem "";
    overflow: hidden; }
    header .header-r .header-r-first {
      float: left; }
    header .header-r .header-r-box {
      float: left;
      margin-left: 0.625rem; }
      header .header-r .header-r-box:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        border-left: 0.0625rem solid #777D82;
        height: 1rem;
        margin-right: 0.625rem; }
      header .header-r .header-r-box .ico-mob {
        display: inline-block;
        vertical-align: top;
        width: 0.4375rem;
        height: 0.6875rem;
        margin: 0.8125rem 0.3125rem 0 0;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALAQMAAACJXgXrAAAAA3NCSVQICAjb4U/gAAAABlBMVEX////t7u8EsLEGAAAAAnRSTlMA/1uRIrUAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDkvMTEvMTgZWVUVAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABNJREFUCJlj+MfQhAL/Mbxj+AcAS+AHd1+q3p8AAAAASUVORK5CYII=) no-repeat 0 0; }
    header .header-r a {
      color: #C3C7CA; }
      header .header-r a:hover {
        color: #fff; }

nav {
  background: #fff;
  height: 12.75rem;
  box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.2);
  position: relative; }
  nav .nav-t {
    position: relative; }
    nav .nav-t .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    nav .nav-t .nav-t-l {
      float: right;
      margin-top: 4.6875rem; }
      nav .nav-t .nav-t-l input.server {
        border: 0;
        border-bottom: 0.0625rem solid #D2D4D5;
        color: #999;
        outline: 0;
        width: 15.75rem;
        height: 1.375rem;
        font: 0.75rem/1.375rem "";
        overflow: hidden;
        float: left; }
      nav .nav-t .nav-t-l i {
        display: inline-block;
        background: url(../images/cp_layout.png) no-repeat;
        cursor: pointer; }
      nav .nav-t .nav-t-l i.ico-search {
        float: left;
        width: 1.25rem;
        height: 1.25rem;
        background-position: 0 0; }
      nav .nav-t .nav-t-l .cart {
        float: left;
        position: relative;
        margin-left: 1.25rem;
        width: 2.125rem;
        height: 2rem;
        margin-top: -0.625rem; }
        nav .nav-t .nav-t-l .cart i.cart-num {
          background: #12B7F5;
          width: 1.125rem;
          height: 1.125rem;
          border-radius: 50%;
          color: #fff;
          position: absolute;
          right: 0;
          top: 0;
          text-align: center;
          font: 0.75rem/1.125rem ""; }
        nav .nav-t .nav-t-l .cart i.ico-cart {
          width: 1.25rem;
          height: 1.25rem;
          background-position: 0 -1.875rem;
          margin-top: 0.625rem; }
        nav .nav-t .nav-t-l .cart:hover .cart-box {
          display: block; }
      nav .nav-t .nav-t-l .cart-box {
        display: none;
        position: absolute;
        width: 20.75rem;
        height: 19.375rem;
        background: #fff;
        border: 0.0625rem solid rgba(0, 0, 0, 0.1);
        border-radius: 0.3125rem;
        z-index: 2;
        top: 2.625rem;
        right: -1.5625rem; }
        nav .nav-t .nav-t-l .cart-box:before {
          content: "";
          position: absolute;
          z-index: 2;
          top: -0.9375rem;
          right: 2.375rem;
          border: 0.5rem solid #fff;
          border-top-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent; }
        nav .nav-t .nav-t-l .cart-box:after {
          content: "";
          position: absolute;
          top: -1.0625rem;
          right: 2.375rem;
          border: 0.5rem solid rgba(0, 0, 0, 0.1);
          border-top-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent; }
        nav .nav-t .nav-t-l .cart-box ul.cart-box-t {
          margin-top: 0.875rem;
          height: 15.3125rem; }
          nav .nav-t .nav-t-l .cart-box ul.cart-box-t li.nodata {
            text-align: center;
            padding-top: 6.5625rem;
            font: 0.875rem/1.5rem "";
            color: #999; }
          nav .nav-t .nav-t-l .cart-box ul.cart-box-t .items {
            display: flex; }
            nav .nav-t .nav-t-l .cart-box ul.cart-box-t .items .items-l {
              width: 3.75rem;
              height: 3.75rem; }
              nav .nav-t .nav-t-l .cart-box ul.cart-box-t .items .items-l a {
                display: block; }
              nav .nav-t .nav-t-l .cart-box ul.cart-box-t .items .items-l img {
                width: 100%;
                height: 100%; }
        nav .nav-t .nav-t-l .cart-box .cart-box-b {
          position: absolute;
          bottom: 0;
          height: 3rem;
          background: #12b7f5;
          border-radius: 0 0 0.3125rem 0.3125rem;
          padding: 0.5rem 0.9375rem;
          width: 18.875rem;
          display: flex;
          align-items: center; }
          nav .nav-t .nav-t-l .cart-box .cart-box-b .cart-box-b-l {
            flex: 1;
            color: #4B5459;
            font: 0.75rem/1.25rem ""; }
            nav .nav-t .nav-t-l .cart-box .cart-box-b .cart-box-b-l span.pic {
              font-size: 0.875rem;
              font-weight: 800;
              color: #4B5459; }
          nav .nav-t .nav-t-l .cart-box .cart-box-b .cart-box-b-r a.btn {
            background: #12B7F5;
            color: #fff;
            display: inline-block;
            width: 5.625rem;
            height: 1.75rem;
            font: 400 0.75rem/1.75rem "";
            border: 0.0625rem solid #12B7F5;
            border-radius: 0.125rem;
            text-align: center;
            box-sizing: content-box; }
  nav ul.nav-b {
    position: absolute;
    bottom: 1.375rem;
    height: 1.875rem;
    font: 700 0.875rem/1.875rem ""; }
    nav ul.nav-b li {
      float: left;
      padding: 0 1.5rem;
      margin-top: 0.375rem; }
      nav ul.nav-b li:hover a {
        border-bottom: 0.1875rem solid #12B7F5;
        color: #12B7F5; }
      nav ul.nav-b li a {
        color: #4B5459;
        padding-bottom: 0.375rem; }
    nav ul.nav-b li.xian {
      margin: 0.8125rem 0.0625rem 0 0.0625rem;
      border-left: 0.0625rem solid #999;
      height: 0.9375rem;
      padding: 0; }

@media screen and (max-width: 1200px) and (min-width: 990px) {
  .layout {
    width: 58.75rem; } }

@media screen and (max-width: 990px) and (min-width: 768px) {
  .layout {
    width: 45rem; } }

@media only screen and (max-width: 768px) {
  .layout {
    width: auto;
    margin: 0 0.9375rem; }
  .cart-box {
    right: 0; } }
